.DS_Store
**.DS_Store
**/*.bz2
**/.idea/
**/__pycache__
venv
venv/**
config/*
config.py
config/**
data/*_metadata/*.csv
*.db
scripts/retrieve_nifti_files.py
load_db/PPMI/*.log
src/
.vscode
.vscode/**
data
!data/__init__.py
!data/seed_files/*